<div class="card-info" *ngIf="cardInfo$ | async as card; else loader">
  <mat-card>
    <mat-card-content>
      <div class="img-container">
        <img [src]="card.image_url" [alt]="card.imgName">
      </div>
      <div class="content-container">
        <h4>{{ card.title }}</h4>
        <p class="content">{{ card.summary }}</p>
      </div>
      <button mat-button [routerLink]="['']">Back to homepage
        <mat-icon matIconPrefix>{{ icon }}</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>
</div>


<ng-template #loader>
  <p>Loading ...</p>
</ng-template>

